.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.button-section button {
    padding: 10px 20px;
    font-size: 1.25rem;
}

.btn-exit {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.25rem;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-exit:hover {
    background-color: #d43f3f;
    transform: scale(1.1);
}